/* Root styling */
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #f9f9f9; */
  color: #333;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; */
}

/* Styling for the app shell */
.app-shell-header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-shell-navbar {
  background-color: #111;
  color: white;
  padding: 1rem;
}

/* Table styling */
.table-header {
  background-color: #333;
  color: white;
}

.table-body {
  background-color: #222;
  color: white;
}

.table-cell {
  /* padding: 1rem; */
  text-align: center;
}

/* Flex layout utilities */
/* .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */


/* Miscellaneous */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.MRT_TableDetailPanel-module_inner__o-Fk- {
  /* padding: 0 !important; */
  border: none;
  background-color: #f1f3f5;
}
